
/* classe css de la page*/
#res_script{
	border:0;
	background-color:white;
	color:#01426aff;
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}
/* classes pour les rubriques pour certains type de classement (type de publi, annÃ©e de publi) */ 
.Rubrique{
	border-bottom: 2px solid #2c3e50;
}

/*nom du champ*/
.ChampRes {
	display:none;
}

/* classe commune Ã  tous les champs affichÃ©s */ 
.ValeurRes {
	color:black;
  margin-left:1em;
}
/* classe pour les titres */ 
.Titre, .Titre a {
   font-weight:bold;
	color:#2c3e50;
}

.annee_publi, .typdoc, .Rubrique {
    color:#2c3e50;
}

.NoticeRes {
	border-bottom: 0px;
}
.NoticeResAvecVignette {
	border-bottom: 0px;
}