




/* classe css de la page*/
#res_script{
	border:0;
	background-color:#222;
	color:#fff;
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}
/* classes pour les rubriques pour certains type de classement (type de publi, annÃ©e de publi) */ 
.Rubrique{
	border-bottom: 0px solid #fff;
}

/*nom du champ*/
.ChampRes {
	display:none;
}

/* classe commune Ã  tous les champs affichÃ©s */ 
.ValeurRes {
	color:black;
  margin-left:1em;
}
/* classe pour les titres */ 
.Titre, .Titre a {
   font-weight:bold;
	color:#fff;
}

.annee_publi, .typdoc, .Rubrique, .SousRubrique .Auteurs .article{
    color:#fff;
}

.NoticeRes {
	border-bottom: 0px;
}

.LienBibtexACoteFulltext {
    color:#00bc8c;
}