/* css styles */

/* a {text-decoration: none; } */


a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: underline; 
  } 
  a:active { 
    text-decoration: none; 
  }
  

  .navbar {
    background-image: url("Resources/Images/BackGroundCode.png");
    background-size: cover; /* Adjust as needed */
    background-position: center;
    height: 120px; /* Adjust this value as needed */
    display: flex;
    align-items: center; /* Center-aligns the content vertically */
  }

  